*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: lightgray;
}
.display_login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form_login {
    width: 30%;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    padding: 10px;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 80%;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid black;
    font-size: 16px;
    background-color: white;
    padding: 8px;
    margin: 2%;
}

.redirection_register {
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bold;
    margin-bottom: 4%;

}
.link_redirection_register {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: center;
}

.btn_submit_login {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #1b1b1b;
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4%;
}