*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.display_recette {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
li {
    margin: 0;
    padding: 0;
}
.img_recette {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;
}